<div class="container">
  <h1>Sign Up</h1>
  <hr class="solid">
  <form method="POST" action="/signup">
    <label for="email">Email:</label>
    <input type="text" name="email"><br><br>
    <label for="username">Username:</label>
    <input type="text" name="username"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Sign Up" class="btn">
  </form>
</div>
