<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="road-race-database main theme">
    <meta name="author" content="denise dearman">
    <link rel="icon" href="../../favicon.ico">

    <title>Road Race Database</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/rating.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>

      h1.big-title{
        font-size: 60px;
      }
      hr.solid{
        border-top: 1px solid #8c8b8b;
      }

      div .align-right{
        text-align: right;
      }

      img.bg {
            z-index: -1;
            /* Set rules to fill background */
            min-height: 100%;
            min-width: 1024px;

            /* Set up proportionate scaling */
            width: 100%;
            height: auto;

            /* Set up positioning */
            position: fixed;
            top: 0;
            left: 0;
            }
        textarea{
          width: auto;
        }


    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Road Race Database</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <%if logged_in?%>
            <li><a href="/races">Races</a></li>
            <li><a href="/races/new">Create Race</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/reports/new">Create Report</a></li>
            <%end%>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%if logged_in?%>
            <li><a href="/users/<%=current_user.slug%>"><%=current_user.username%></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
            <%else%>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <%end%>
          </ul>
        </div>
      </div>
    </nav>
      <%= yield %>

    <script src="/js/bootstrap.min.js"></script>
  </body>

</html>
